.page {
  background-color: #ffffff;
  padding: 0 16px;
  color: #333333;
  font-size: 18px;
}
.page > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.page > header .arrow {
  margin-top: 3px;
  width: 15px;
  height: 20px;
}
.page > header > .graf {
  width: 22px;
  height: 20px;
}
.page > header > h1 {
  font-size: 18px;
  font-weight: 400;
  font-size: 18px;
  padding-top: 5px;
}
.search {
  margin-top: 25px;
  background-color: #f0f1f2;
  align-items: center;
  box-sizing: border-box;
  cursor: text;
  display: flex;
  color: #9299a2;
  padding: 10px 5px;
  border-radius: 10px;
  gap: 10px;
  font-weight: 100;
  font-size: 18px;
}
.search > img {
  width: 18px;
  height: 18px;
}
.filters {
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 22px 0;
}
.filter {
  background-color: #428af8;
  font-weight: 700;
  color: white;
  display: flex;
  padding: 7px 13px;
  border-radius: 14px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.filter > img {
  width: 12px;
  height: 12px;
}
.notactive {
  font-size: 14px;
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stat {
  padding: 16px 20px;
  box-shadow: 0px 6px 34px #0000001f;
  border-radius: 24px;
  margin-bottom: 20px;
}
.stat > .money {
  font-weight: 800;
  font-size: 17px;
}
.stat > .data {
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 2px 0 15px 0;
}
.stat > img {
  width: 121.5px;
  height: 14px;
  image-rendering: pixelated;
}
.today {
  font-weight: 800;
  font-size: 20px;
  padding: 12px 0;
}

.operation {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.operation img {
  width: 40px;
  height: 40px;
}
.operation > .left {
  display: flex;
  gap: 16px;
}
.operation h3 {
  font-weight: 500;
  font-size: 17px;

  color: #373737;
}
.operation .info p {
  margin-top: 3px;
  font-weight: 100;
  font-size: 14px;
  color: #9299a2;
}
.operation .moneys div {
  display: flex;
  justify-content: end;
  font-weight: 100;
  font-size: 17px;
}
.operation .moneys p {
  margin-top: 3px;
  text-align: end;
  font-weight: 100;
  font-size: 14px;
  color: #9299a2;
}
