.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  background-color: #222;
  color: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 450px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputRow {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}
.inputNumber {
  width: 50px;
}
.input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.modalContent .p {
  opacity: 0.5;
  margin-top: 10px;
  font-size: 14px;
}
